@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  --font-normal: 400;
  --font-meduim: 500;
  --font-semi-bold: 600;
  --myBlack: #0d1b2a;
  --myBlue: #415a77;
  --myWhite: #e0e1dd;
}
.footer {
  margin: 60px 65px 0px 65px;
  position: static;
}
.social-footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
}
.social-footer a {
  color: var(--myBlack);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font);
  font-weight: var(--font-normal);
  font-size: 14px;
}
